.container {
  height: 100vh;
}

.table {
  tr {
    td,
    th {
      text-align: right;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .price,
  .name,
  .exchange {
    min-width: 160px;
    max-width: 160px;
  }
}

.price-stable {
  background-color: initial;
}

.price-inc {
  animation: price-inc 0.5s ease-in;
}

@keyframes price-inc {
  from {
    background-color: var(--color-lime-200);
  }
  to {
    background-color: initial;
  }
}

.price-dec {
  animation: price-dec 0.5s ease-in;
}

@keyframes price-dec {
  from {
    background-color: var(--color-red-200);
  }
  to {
    background-color: initial;
  }
}
