#root {
  width: 100%;
  height: 100vh;
}

.tables {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  gap: 0.5rem;

  .trending-tokens {
    flex-grow: 1;
    width: 50%;
  }

  .new-tokens {
    flex-grow: 1;
    width: 50%;
  }
}
